body, html {
  background-color: rgb(39, 180, 39);
  
}
.container {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 300px;
  width: 100%;

  background: rgb(236, 234, 234);

  border-radius: 1em;
  border: none;

  padding: 10px;
}
.title {
  text-align: center;
}
.form-container {
  text-align: center;
}
select {
  height: 2.5em;
  width: 90% ;
}
input {
  height: 2.5em;
  width: 90% ;
}

input:focus, select:focus {
  outline-width: 0;
}
.formGroup {
  margin: 5px;
}
.resultBox {
  /*border: 1px solid rgb(129, 129, 129);
  height: 1.2em;
  width: 100%;*/
  text-align: center;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  padding: 0 18px;
  max-height: 0;
  margin: 10px;
  font-size: 17px;
  font-family: 'Oxygen Mono', monospace, Arial, Helvetica, sans-serif;
}
datalist {
  max-width: 200px;
}
input, select {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}